<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Test project</title>
        <link href="/css/style.css" rel="stylesheet"/>
        <script src="webjars/jquery/3.1.1-1/jquery.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <span id="site_name"> Header of Spring Boot Training Project</span>
            </div>
            <div id="left_block">
                <div id="main_menu">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="central_block">
                central_block
            </div>
            <div id="right_block">
                right_block
            </div>
            <div id="footer">
                footer
            </div>
        </div>
    </body>
</html>