[submodule "licensing-service"]
	path = licensing-service
	url = https://github.com/nVitaliy/licensing-service.git
[submodule "configuration-service"]
	path = configuration-service
	url = https://github.com/nVitaliy/configuration-service
